@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset,
label {
  margin: 0;
  padding: 0;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 2.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: '\f005';
}

/* Half Rating System */

/*.rating > .half:before { 
  content: "\f089";
  position: absolute;
}
*/

/* 
<input type="radio" id="star4half" name="rating" defaultValue={4.5} /><label className="half" htmlFor="star4half" title="Pretty good - 4.5 stars" />

<input type="radio" id="star3half" name="rating" defaultValue={3.5} /><label className="half" htmlFor="star3half" title="Meh - 3.5 stars" />

<input type="radio" id="star2half" name="rating" defaultValue={3.0} /><label className="half" htmlFor="star2half" title="Kinda bad - 2.5 stars" />

<input type="radio" id="star1half" name="rating" defaultValue={2.5} /><label className="half" htmlFor="star1half" title="Meh - 1.5 stars" />

<input type="radio" id="starhalf" name="rating" defaultValue={0.5} /><label className="half" htmlFor="starhalf" title="Sucks big time - 0.5 stars" />
*/

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,
/* show gold star when clicked */
.rating:not(:checked)>label:hover,
/* hover current star */
.rating:not(:checked)>label:hover~label {
  color: #b7791f;
}

/* hover previous stars in list */

.rating>input:checked+label:hover,
/* hover current star when changing rating */
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
/* lighten current selection */
.rating>input:checked~label:hover~label {
  color: #b7791f;
}

/* Default styles */
#image-container {
  width: 100%;
}

#product-image {
  width: 100%; /* Take maximum width of container */
  height: 500px; /* Default height for larger screens */
  object-fit: cover; /* Crop image to fit */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  #product-image {
    height: 60%;
    width: 100%; /* Adjust height for smaller screens */
  }
}

#bg-opacity-80 {
  background-color: #f71949;
}

#bg-opacity-80:hover {
  background-color: #853445e8; /* Fully opaque on hover */
}

#book {
  background-color: #00d46b;
}

#book:hover {
  background-color: #227c4fd6; /* Fully opaque on hover */
}

/* Import the Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Apply the Roboto font family to the body */
#section {
  font-family: 'Roboto';
}

.hover-text-red:hover {
  color: #f71949;
}

.hover-text-red:hover {
  color: #f71949;
}

.text-red {
  color: #f71949;
}
.red {
  color: #7b003a;
}

.slider {
  position: relative;
}

.swiper {
  z-index: 1;
}

.swiper img {
  width: 100%;
}

.slider__prev,
.slider__next {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 0 15px rgba(75, 75, 75, 0.4);
  top: calc(50% - 25px);
  cursor: pointer;
}

.slider__prev::after,
.slider__next::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  top: 10px;
  left: 10px;
  box-sizing: border-box;
}

.slider__prev.swiper-button-disabled,
.slider__next.swiper-button-disabled {
  opacity: 0.6;
  box-shadow: none;
  cursor: not-allowed;
}

.slider__prev {
  left: 0;
}

.slider__prev::after {
  border-top: 3px solid #333;
  border-left: 3px solid #333;
}

.slider__next {
  right: 0;
}

.slider__next::after {
  border-bottom: 3px solid #333;
  border-right: 3px solid #333;
}
