@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Clarendon Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Clarendon Regular'), url('/fonts/Clarendon-Regular.woff') format('woff');
}
