@font-face {
  font-family: 'Clarendon Regular';
  font-style: normal;
  font-weight: normal;
  src:
    local('Clarendon Regular'),
    url('./Clarendon\ Regular.woff') format('woff');
}

#slider,
#fontdiv {
  font-family: 'Clarendon Regular', sans-serif; /* Apply Clarendon font to .slider */
}